jadn-venv-sandbox/jadn_base_types/jadn_base_types.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema targetNamespace="jadn_base_types"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="Binary">
		<xs:restriction base="xs:base64Binary" />
	</xs:simpleType>
	<xs:simpleType name="Boolean">
		<xs:restriction base="xs:boolean" />
	</xs:simpleType>
	<xs:simpleType name="Integer">
		<xs:restriction base="xs:integer">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number">
		<xs:restriction base="xs:decimal" />
	</xs:simpleType>
	<xs:simpleType name="String">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="Enumerated">
		<xs:sequence>
			<xs:element name="Enumerated-Elements" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Enumerated-ID" type="xs:integer" />
						<xs:element name="Enumerated-Value" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Choice">
		<xs:sequence>
			<xs:element name="Choice-Elements" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Choice-ID" type="xs:integer" />
						<xs:element name="Choice-Type" type="xs:string" />
						<xs:element name="Choice-Name" type="xs:string" />
						<xs:element name="Choice-Description" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="f16">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="f32">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="6" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="date">
		<xs:restriction base="xs:date" />
	</xs:simpleType>
	<xs:simpleType name="date-time">
		<xs:restriction base="xs:dateTime" />
	</xs:simpleType>
	<xs:simpleType name="duration">
		<xs:restriction base="xs:duration" />
	</xs:simpleType>		
	<xs:simpleType name="time">
		<xs:restriction base="xs:time" />
	</xs:simpleType>
	<xs:simpleType name="email">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idn-email">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hostname">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idn-hostname">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipv4">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9][0-9])|([0-9]))[.]((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9][0-9])|([0-9]))[.]((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9][0-9])|([0-9]))[.]((25[0-5])|(2[0-4][0-9])|(1[0-9][0-9])|([1-9][0-9])|([0-9]))" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipv6">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="((([0-9A-Fa-f]{1,4}:){1,6}:)|(([0-9A-Fa-f]{1,4}:){7}))([0-9A-Fa-f]{1,4})" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uri">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uri-reference">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uri-template">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="iri">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="&lt;(.*)&gt;" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="iri-reference">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="&lt;(.*)&gt;" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="json-pointer">
		<xs:restriction base="xs:normalizedString">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="relative-json-pointer">
		<xs:restriction base="xs:normalizedString">
		</xs:restriction>
	</xs:simpleType>		
	<xs:simpleType name="regex">
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\*." />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eui">
		<xs:restriction base="xs:hexBinary">
			<xs:minLength value="12"></xs:minLength>	
			<xs:maxLength value="12"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipv4-addr">
		<xs:restriction base="xs:hexBinary">
			<xs:maxLength value="8"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ipv6-addr">
		<xs:restriction base="xs:hexBinary">
			<xs:maxLength value="32"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ArrayOf">
		<xs:restriction base="xs:normalizedString" />
	</xs:simpleType>
	<xs:simpleType name="MapOf">
		<xs:restriction base="xs:normalizedString" />
	</xs:simpleType>
	<xs:complexType name="Array">
		<xs:sequence>
			<xs:element name="Array-Elements" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Array-Element" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Map">
		<xs:sequence>
			<xs:element name="Map-Elements" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Map-Element" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Record">
		<xs:sequence>
			<xs:element name="Record" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>